<body class="main">
  <script>
    function update(platform) {

      const btn = document.getElementById(platform)

      if (btn.classList.contains("button__isActive")) btn.classList.remove("button__isActive")
      else btn.classList.add("button__isActive")

      const movies = document.getElementsByClassName(platform)
      for (let item of movies) {

        if (item.style.display === "none") {
          item.style.display = "initial";
        }
        else {
          item.style.display = "none"
        }
      }
    }
  </script>
  <div>
    <div class="filter__options">
      <div>
        <p class="filter__text text">Select your platforms</p>
      </div>
      <div class="filter__buttons">
        {{#each platforms}}
        <button onclick="update('{{this.platform}}')" id={{this.platform}}
          class="button__isActive filter__button">{{this.platform}}</button>
          {{/each}}
      </div>
    </div>
    <ul class="movie__list" style="list-style-type: none;">
      {{#each movies}}
      <li class="{{this.platform}} movie__list_item">
        <div class="movie__item">
          <span class="movie__header">
            <h4 class="movie__title">{{this.name}}</h4>
          </span>
          <p class="why">{{this.description}}</p>
          <p class="where">Available on {{this.platform}}</p>
          {{#if this.link}}
          <p class="link__show"><a class="link__default" href="{{this.link}}">Trailer</a></p>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

</body>