<body class="main">
  <script>
    let active_platforms = []
    const inList = (list1, list) => list.contains(element);
    function update(platform) {
      disableAll()
      const btn = document.getElementById(platform)
      let display;
      if (btn.classList.contains("button__isActive")) {
        btn.classList.remove("button__isActive")
        display = false
        active_platforms.pop(btn.id)
      }
      else {
        btn.classList.add("button__isActive")
        display = true
        active_platforms.push(btn.id)
      }

      const movies = document.getElementsByClassName(platform)
      for (let item of movies) {

        if (display) {
          item.style.display = "initial";
        }
        else {
          item.style.display = "none"
        }
      }
    }

    function disableAll() {
      const all_movies = document.getElementsByClassName("movie__list_item")
      for (let item of all_movies) {
        if (!active_platforms.includes(item.id)) item.style.display = "none"
      }
    }
  </script>
  <div>
    <div class="filter__options">
      <div>
        <p class="filter__text text">Select your platforms</p>
      </div>
      <div class="filter__buttons">
        {{#each platforms}}
        <button onclick="update('{{this.platform}}')" id={{this.platform}}
          class="filter__button">{{this.platform}}</button>
        {{/each}}
      </div>
    </div>
    <ul class="movie__list" style="list-style-type: none;">
      {{#each shows}}
      <li id="{{this.platform}}" class="{{this.platform}} movie__list_item">
        <div class="movie__item">
          <span class="movie__header">
            <h4 class="movie__title">{{this.name}}</h4>
          </span>
          <p class="why">{{this.description}}</p>
          <p class="where">Available on {{this.platform}}</p>
          {{#if this.link}}
          <p class="link__show"><a class="link__default" href="{{this.link}}">Go to Series</a></p>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

</body>