<body class="main">
<div class="watchlist__text">These are the things that are currently on my watchlist, both movies and shows.</div>
    <ul class="movie__list" style="list-style-type: none;">
      {{#each list}}
      <li id="{{this.platform}}" class="{{this.platform}} movie__list_item">
        <div class="movie__item">
          <span class="movie__header">
            <h4 class="movie__title">{{this.name}}</h4>
          </span>
          <p class="watchlist__type">{{this.type}}</p>
          <p class="why">{{this.description}}</p>
          <p class="where">Available on {{this.platform}}</p>
          {{#if this.link}}
          <p class="link__show"><a class="link__default" href="{{this.link}}">Go to Series</a></p>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

</body>